.layout {
  height: 100dvh;
  display: grid;
  grid-template:
    "a" 1fr
    "b" auto / 1fr;
  gap: 1rem;
  padding: 3rem;
}

.playerContainer {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff2;
  border-radius: 10px;
  padding: 1rem;
}

.pot {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1a1a1a;
  border: 3px solid gold;
  padding: 12px 5rem;
  border-radius: 999px;
  color: gold;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0 0 3px gold;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.4);
  z-index: 1000;
  white-space: nowrap;
}